@media(max-width:750px) {
    .ping__inputs {
        flex-direction: column;
        align-items: start;
        gap: unset;
    }

    #ping--email,
    #send--btn {
        max-width: unset;
        height: 80px;
        border-radius: 3rem;
    }

    #ping--email {
        border: 1px solid var(--Pale-Blue);
    }

    #send--btn {
        margin-top: 1.25rem;
    }

    .attribution {
        position: unset;
        margin-top: 5em;
    }

    #error--sucess--email {
        position: unset;
        margin-top: .2rem;
    }
}

@media(max-width:495px) {
    .ping__txt__t {
        font-size: 1.7rem;
    }
    
    .ping__txt__p {
        font-size: 1rem;
    }

    #ping--email,
    #send--btn {
        height: 45px;
    }
}